.div-inline{
			display:inline-block;
}
html, body, .container {
			height: 100%;
}
textarea.form-control {
			height: 100%;
}
textarea{
			background-color:#272b30 !important; 
			color:#c8c8c8 !important;
}
table,thead,tbody,tr,td{
			width: 100%;
}
td{
			width:auto;
}
